@font-face {
    font-family: "norsebold";
    src: url("fonts/norse-bold-webfont.woff2") format("woff2"),
        url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    flex: 3;
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    background: rgba(0, 0, 0, 0.4);
    font-family: "norsebold", sans-serif;
    color: #fff;
    font-size: 5rem;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

.logo img {
    height: 125px;
}

.img-credit {
    color: #ccc;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
}

a,
a:visited {
    color: #ccc;
}

main {
    flex: 5;
    background-color: #eee;
}

.top {
    height: 37%;
    padding: 13% 21% 3rem 3rem;
}

h2 {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.middle {
    background-color: #fff;
    padding: 1rem 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.contact-info {
    width: 60%;
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem;
}

label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #888;
}

input {
    display: block;
    width: 200px;
    margin-bottom: 1rem;
    border: 1px solid #e5e7eb;
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
}

input.error {
    border: 1px solid red;
}

input:focus {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.error-msg {
    color: red;
    font-size: 0.8rem;
    margin-top: -0.7rem;
}

.bottom {
    padding-left: 3rem;
}

button {
    background-color: #596d48;
    color: white;
    font-weight: bold;
    padding: 0.6rem 2rem;
    margin: 2rem 0;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
}

.login, .login:visited {
    color :#596d48;
    font-weight: bold;
    text-decoration: none;
}